@model string

<a class="btn btn-danger" asp-action="Delete" asp-route-Id="@Model"><i class="fas fa-trash-alt me-2"></i>Delete</a>
<a class="btn btn-primary" asp-action="Edit" asp-route-Id="@Model"><i class="fas fa-edit me-2"></i>Edit</a>
<a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-arrow-left me-2"></i>Back to List</a>