@model FinalYearProject.Models.Notification

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Breadcrumb-->
@await Html.PartialAsync("_Breadcrumb")

<section class="pb-5 py-3">
    <div class="container-fluid">
        <div class="row">
            <!-- Notification Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="h4 mb-0">Edit Notification</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="Edit">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div id="email-selector">
                                <label asp-for="notification_receiver" class="form-label"></label>
                                <input id="email-input" placeholder="Type email and hit enter..." class="form-control" />

                                <div id="selected-emails" class="mt-2">
                                    @if (ViewBag.Receivers != null)
                                    {
                                        foreach (var receiver in ViewBag.Receivers)
                                        {
                                            <div class="tag" data-email="@receiver">@receiver <span class="remove" aria-label="Close">x</span></div>
                                        }
                                    }
                                </div>

                                <input type="hidden" asp-for="notification_receiver" id="notification_receiver" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="notification_title" class="form-label">Subject</label>
                                <input asp-for="notification_title" class="form-control" placeholder="Enter notification subject" />
                            </div>

                            <div class="mb-3">
                                <label asp-for="notification_content" class="form-label">Message</label>
                                <div id="editor">@Html.Raw(Model.notification_content)</div>
                                <input type="hidden" asp-for="notification_content" id="notification_content" />
                            </div>
                            <input asp-for="notification_id" type="hidden" />
                            <input asp-for="notification_date" type="hidden" />
                            <input asp-for="notification_type" type="hidden" />
                            <div class="text-end">
                                <partial name="_EditBackPartial" model="@Model.notification_id"></partial>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Include Quill Library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <script src="~/js/custom/editNotification.js"></script>
}
