@* @{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
} *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalYearProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scrollBars.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalYearProject.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Old Code -->
    @* <section class="py-3">
    <div class="container-fluid">
    <div class="row">
    <!-- Profile Form-->
    <div class="col-lg-10">
    <div class="card">
    <div class="card-body">
    <h3 class="h4 mb-0">Manage your account</h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section> *@

    <div>
        <div class="row">
            <!-- Old Code -->
            @* <div class="col-md-3">
            <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
            @RenderBody()
            </div> *@
            @RenderBody()
        </div>
    </div>

    @* @section Scripts {
    @RenderSection("Scripts", required: false)
    } *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>