@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Profile Header -->
<section class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h3 class="h4 mb-0">Manage your account</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Profile Change Password Body -->
<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <section class="pb-5">
                <div class="row">
                    <!-- Change Password Form-->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h3>@ViewData["Title"]</h3>
                            </div>
                            <div class="card-body">
                                <partial name="_StatusMessage" for="StatusMessage" />
                                <form id="change-password-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                                        <label asp-for="Input.OldPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                                        <label asp-for="Input.NewPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="border-bottom my-3 border-gray-200"></div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
