@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Profile Header -->
<section class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <h3 class="h4 mb-0">Manage your account</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Profile Email Body -->
<div>
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <section class="pb-5">
                <div class="row">
                    <!-- Change Password Form-->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header border-bottom">
                                <h3>@ViewData["Title"]</h3>
                            </div>
                            <div class="card-body">
                                <partial name="_StatusMessage" for="StatusMessage" />
                                <form id="email-form" method="post">
                                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                                    @if (Model.IsEmailConfirmed)
                                    {
                                        <div class="form-floating mb-3 input-group">
                                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                                            <div class="input-group-append">
                                                <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                                            </div>
                                            <label asp-for="Email" class="form-label"></label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-floating mb-3">
                                            <input asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                                            <label asp-for="Email" class="form-label"></label>
                                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                                        </div>
                                    }
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                                        <label asp-for="Input.NewEmail" class="form-label"></label>
                                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                                    </div>
                                    <div class="border-bottom my-3 border-gray-200"></div>
                                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Change email</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
