@model FinalYearProject.Models.Leave

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb-->
@await Html.PartialAsync("_Breadcrumb")

<!-- Approve Leave content -->
<section class="pb-5 py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="h4 mb-0">Decide Leave</h3>
                    </div>
                    <div class="card-body">
                        <form asp-action="Decide">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="leave_id" />
                            <input type="hidden" asp-for="staff_id" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="staff_id" class="form-label">Staff Id</label>
                                        <input asp-for="staff_id" type="text" class="form-control" placeholder="@Model.staff_id" disabled/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="date_created" class="form-label">Apply Date</label>
                                        <input asp-for="date_created" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="leave_start" class="form-label">Leave Start</label>
                                        <input asp-for="leave_start" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="leave_end" class="form-label">Leave End</label>
                                        <input asp-for="leave_end" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="leaveType" class="form-label">Leave Type</label>
                                        <input asp-for="leaveType" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="leave_reason" class="form-label">Leave Reason</label>
                                        <input asp-for="leave_reason" class="form-control" disabled />
                                        <span asp-validation-for="leave_reason" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">File Prove: </label>
                                        <a asp-action="Download" asp-route-id="@Model.leave_id">Download</a>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom my-2 border-gray-200"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="response_message" class="form-label"></label>
                                        <input asp-for="response_message" class="form-control" />
                                        <span asp-validation-for="response_message" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="approval_status" class="form-label">Decision</label>
                                        <select asp-for="approval_status" class="form-select mb-3" asp-items="ViewBag.status"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-end">
                                    <button type="submit" asp-route-id="@Model" class="btn btn-primary"><i class="fas fa-save me-2"></i>Save it</button>
                                    <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-arrow-left me-2"></i>Back to List</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

